/* -------------------------------------------------------- */
/* VARIABLES */
/* -------------------------------------------------------- */

/* Variables are used like this: var(--text-color) */
:root {
    /* Background Colors: */
    --background-color: #fdf6f0;
    --content-background-color: #ffffff;
    --sidebar-background-color: #dcd7fb;

    /* Text Colors: */
    --text-color: #360b62;
    --sidebar-text-color: #360b62;
    --link-color: #894dc7;
    --link-color-hover: #fd8b19;

    /* Text: */
    --font: sofia-pro, sans-serif;
    --heading-font: sofia-pro, sans-serif;
    --font-size: 15px;

    /* Other Settings: */
    --margin: 0px;
    --padding: 20px;
    --border: 1px solid #6351c6;
    --border-box: 1px dashed #6351c6;
    --round-borders: 0px;
    --sidebar-width: 200px;
}

.dark {
    /* Background Colors: */
    --background-color: #373142;
    --content-background-color: #5b4d6c;
    --sidebar-background-color: #dcd7fb;

    /* Text Colors: */
    --text-color: #f2e5ff;
    --sidebar-text-color: #360b62;
    --link-color: #c994ff;
    --link-color-hover: #fda34e;

    /* Text: */
    --font: sofia-pro, sans-serif;
    --heading-font: sofia-pro, sans-serif;
    --font-size: 15px;

    /* Other Settings: */
    --margin: 0px;
    --padding: 20px;
    --border: 1px solid #c994ff;
    --border-box: 1px dashed #6351c6;
    --round-borders: 0px;
    --sidebar-width: 200px;
}

/* -------------------------------------------------------- */
/* BASICS */
/* -------------------------------------------------------- */

* {
    box-sizing: border-box;
}

body {
    cursor: url(../assets/cursor.png), auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: var(--font-size);
    margin: 0;
    padding: var(--margin);
    color: var(--text-color);
    font-family: var(--font);
    line-height: 1.2;
    background: var(--background-color);
}

::selection {
    /* (Text highlighted by the user) */
    background: rgba(200, 176, 254, 0.5);
}

mark {
    /* Text highlighted by using the <mark> element */
    background: rgba(253, 163, 78, 0.5);
    text-color: var(--text-color);
}

/* Links: */
a {
    text-decoration: none;
}

a,
a:visited {
    color: var(--link-color);
}

a:hover,
a:focus {
    color: var(--link-color-hover);
    text-decoration: none;
    font-style: italic;
    cursor: url(../assets/CursorLink.png), auto;
}

/* -------------------------------------------------------- */
/* LAYOUT */
/* -------------------------------------------------------- */

.layout {
    width: 1000px;
    display: grid;
    grid-gap: var(--margin);
    grid-template:
        "header" auto
        "main" auto
        "footer" auto
        / auto;
}

.layout-full {
    width: 1000px;
    display: grid;
    grid-gap: var(--margin);
    grid-template: "header" auto "main" auto "footer" auto / auto;
}

main {
    grid-area: main;
    overflow-y: visible;
    padding: var(--padding);
    background-color: var(--content-background-color);
    border: var(--border);
    border-radius: var(--round-borders);
}

main-home {
    grid-area: main;
    overflow-y: visible;
    padding: var(--padding);
}

/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */

header {
    grid-area: header;
    font-size: 1.2em;
}

.header-content {
    padding: var(--padding);
}

.header-title {
    font-family: var(--heading-font);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.header-image img {
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Site Button: */

.site-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-button textarea {
    font-family: monospace;
    font-size: 0.7em;
}

/* -------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------- */

footer {
    grid-area: footer;
    overflow: hidden;
    font-size: 0.75em;
    padding: 15px;
    display: flex;
    justify-content: center;
}

footer a,
footer a:visited {
    color: var(--link-color);
}

footer a:hover,
footer a:focus {
    color: var(--link-color-hover);
}

/* -------------------------------------------------------- */
/* NAVIGATION */
/* -------------------------------------------------------- */

nav {
    margin-bottom: 3em;
    margin-top: 0.5em;
    display: flex;
    justify-content: center; /* Center horizontally */
    font-family: "good-karma-smooth-caps", sans-serif;
    font-size: 1.5em;
}

nav .sidebar-title {
    margin-bottom: 0.5em;
}

nav ul {
    margin: 0 -5px;
    padding: 0;
    list-style: none;
    user-select: none;
}

nav ul li {
    margin-bottom: 0;
}

nav > ul li > a,
nav > ul li > strong {
    display: inline-block;
}

nav > ul li > a,
nav > ul li > details summary,
nav > ul li > strong {
    padding: 5px 10px;
}

nav > ul li > a.active,
nav > ul li > details.active summary {
    font-weight: bold;
}

nav ul summary {
    cursor: pointer;
}

nav ul ul li > a {
    padding-left: 30px;
}

/* NAVIGATION IN HEADER */

header nav {
    margin-bottom: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

header nav ul li {
    position: relative;
}

header nav ul li:first-child > a {
    padding-left: 0;
}

header nav ul li:last-child > a {
    padding-right: 0;
}

header nav summary {
    all: unset;
    cursor: pointer;
    display: inline-block;
    padding: 0.3em 0.4em;
    color: var(--link-color);
    font-weight: normal;
    line-height: 1;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul ul {
    padding: 0.5em;
    border: var(--border);
    background: var(--background-color);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    margin-top: 0.5em;
    position: absolute;
    flex-direction: column;
    z-index: 1;
}

details > summary {
    cursor: pointer;
}

details[open] > summary {
}

details > summary::-webkit-details-marker {
    display: none;
}

header nav ul ul li a {
    display: block;
    padding-left: 0;
    padding-right: 0;
}

/* -------------------------------------------------------- */
/* CONTENT */
/* -------------------------------------------------------- */

main {
    line-height: 1.5;
}

main a,
main a:visited {
    color: var(--link-color);
}

main a:hover,
main a:focus {
    color: var(--link-color-hover);
    text-decoration-style: wavy;
}

main p,
main .image,
main .full-width-image,
main .two-columns {
    margin: 0.75em 0;
}

main ol,
main ul {
    margin: 0.5em 0;
    padding-left: 1.5em;
}

main ol li,
main ul li {
    margin-bottom: 0.2em;
    line-height: 1.3;
}

main ol {
    padding-left: 2em;
}

main blockquote {
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 1em 0;
    border-radius: 10px;
}

main pre {
    margin: 1em 0 1.5em;
}

main code {
    text-transform: none;
}

main center {
    margin: 1em 0;
    padding: 0 1em;
}

main hr {
    border: 0;
    border-top: var(--border);
    margin: 1.5em 0;
}

/* HEADINGS: */

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    font-family: var(--heading-font);
    margin-bottom: 0;
    line-height: 1.5;
}

main h1:first-child,
main h2:first-child,
main h3:first-child,
main h4:first-child,
main h5:first-child,
main h6:first-child {
    margin-top: 0;
}

main h1 {
    font-size: 1.7em;
}

main h2 {
    font-size: 1.4em;
}

main h3 {
    font-size: 1.3em;
}

main h4 {
    font-size: 1.2em;
}

main h5 {
    font-size: 1.1em;
}

main h6 {
    font-size: 1em;
}

/* COLUMNS: */

.two-columns {
    display: flex;
}

.two-columns > * {
    flex: 1 1 0;
    margin: 0;
}

.two-columns > *:first-child {
    padding-right: 0.75em;
}

.two-columns > *:last-child {
    padding-left: 0.75em;
}

.about-me-paper {
    padding: 15px;
    background-color: var(--content-background-color);
    border-radius: 10px;
    border: 1px dashed;
    border-color: var(--link-color);
    max-height: 600px;
    min-width: calc(50% - 10px);
}

.scrollable {
    overflow-y: auto;
}

.cards {
    max-height: 100%;
}

.half {
    width: calc(50% - 10px);
}

.rotate-left:hover {
    rotate: 1deg;
}

.rotate-right:hover {
    rotate: 1deg;
}

.washi-tape {
    position: relative;
    width: 70px;
    height: 20px;
    background: var(--link-color);
    opacity: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    rotate: -8deg;
    z-index: 2;
}

/* Left corner */
.washi-tape.left {
    top: -15px;
    left: -30px;
    rotate: -15deg;
}

/* Right corner */
.washi-tape.right {
    top: -25px;
    right: -200px;
    rotate: 8deg;
}

.container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.middle {
    text-align: center;
}

.tag {
    border-color: var(--link-color);
    border: 1.5px solid;
    padding: 0.3rem 0.6rem;
    border-radius: 999px;
    font-size: 0.9rem;
}

.tag-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.status-widget {
    position: absolute;
    top: clamp(2%, 8vw, 13%);
    left: 37%;
    transform: translateX(-50%);
    width: clamp(40%, 60%, 80%);
    padding: clamp(0.1rem, 2vw, 0.2rem);
    border-radius: 0.5rem;
    font-size: clamp(0.5rem, 1vw, 0.85rem);
    color: #360b62;
    box-sizing: border-box;
}

.image-wigdet {
    position: relative;
}

/* -------------------------------------------------------- */
/* CONTENT IMAGES */
/* -------------------------------------------------------- */

.image {
    display: block;
    width: 100%;
    height: auto;
}

.card-image {
    width: 100%; /* scale to fit card width */
    height: 300px; /* fixed height */
    object-fit: cover; /* crop to fill container nicely */
    display: block; /* remove inline spacing */
}

.apps {
    display: block;
    width: auto;
    height: 150px;
    display: inline-block;
    opacity: 80%;
}

.full-width-image {
    display: block;
    width: 100%;
    height: auto;
}

.images {
    display: flex;
    width: calc(100% + 5px + 5px);
    margin-left: -5px;
    margin-right: -5px;
}

.images img {
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}

.image-center-small {
    display: block;
    margin: auto;
    width: 17%;
}

.image-homepage {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    width: 34%;
    height: auto;
    z-index: -1;
    opacity: 1;
}

.things-i-like {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.things-i-like div {
    position: relative;
    width: calc(25% - 10px);
    margin: 5px;
}

.things-i-like div img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.things-i-like div span {
    display: block;
    width: 100%;
    text-align: center;
    bottom: 15px;
    color: var(--text-color);
    padding: 5px 10px;
    font-size: 12px;
}

.things-i-like-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.things-i-like-books div {
    position: relative;
    width: calc(15% - 10px);
    margin: 5px;
}

.things-i-like-books div img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.things-i-like-books div span {
    display: block;
    width: 100%;
    text-align: center;
    bottom: 15px;
    color: var(--text-color);
    padding: 5px 10px;
    font-size: 12px;
}

.flags {
    text-align: center;
    margin: 0px;
    font-size: 80px;
}

/* -------------------------------------------------------- */
/* ACCESSIBILITY */
/* -------------------------------------------------------- */

/* please do not remove this. */

#skip-to-content-link {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    line-height: 1;
    font-size: 1.25rem;
    background-color: var(--content-background-color);
    color: var(--text-color);
    transform: translateY(-3rem);
    transition: transform 0.1s ease-in;
    z-index: 99999999999;
}

#skip-to-content-link:focus,
#skip-to-content-link:focus-within {
    transform: translateY(0);
}

/* -------------------------------------------------------- */
/* MOBILE RESPONSIVE */
/* -------------------------------------------------------- */

/* CSS Code for devices < 800px */
@media (max-width: 800px) {
    body {
        font-size: 15px;
    }

    .layout {
        width: 1000px;
        display: grid;
        grid-gap: var(--margin);
        grid-template: "header" auto "main" auto "footer" auto / auto;
        /* Confused by the grid? Check out my tutorial: https://petrapixel.neocities.org/coding/positioning-tutorial#grid */
    }

    .right-sidebar {
        display: none;
    }

    aside {
        border-bottom: 1px solid;
        padding: 9px;
        font-size: 0.9em;
    }

    nav {
        padding: 0;
    }

    nav > ul {
        padding-top: 0.5em;
    }

    nav > ul li > a,
    nav > ul li > details summary,
    nav > ul li > strong {
        padding: 0.5em;
    }

    main {
        max-height: none;
        padding: 15px;
    }

    .images {
        flex-wrap: wrap;
    }

    .images img {
        width: 100%;
    }

    #skip-to-content-link {
        font-size: 1rem;
    }

    .image-homepage {
        position: relative;
        width: 100%;
        margin-top: 3rem;
    }

    .things-i-like div img {
        height: 150px;
    }

    .things-i-like-books div {
        width: calc(25% - 10px);
    }

    .things-i-like-books div img {
        height: 150px;
    }

    .half {
        width: 100%;
    }

    .about-me-paper {
        max-height: 700px;
    }

    .container {
        flex-direction: column;
    }

    .status-widget {
        top: 12%;
        font-size: 0.8rem;
    }
    header nav summary {
        padding: 0.6em 0.7em;
    }
}

@media (max-width: 500px) {
    .status-widget {
        top: 12%;
        font-size: 0.5rem;
    }
}
