---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = Object.values(
    import.meta.glob("../writing/*.md", { eager: true }),
);
const tags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];
const pageTitle = "Tags";
---

<BaseLayout>
    <h1 class="middle">{pageTitle}</h1>
    <div class="tag-container">
        {
            tags.map((tag) => (
                <a href={`/tags/${tag}`} class="tag">
                    {tag}
                </a>
            ))
        }
    </div>
</BaseLayout>
