---
import StatusWidget from "../components/StatusWidget.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "404";
---

<BaseLayout>
    <div class="middle">
        <h1>404</h1>
        <p>
            I guess, I've messed somethign up if you're seeing this page.<br
            /><a href="/"><span>&#10508;</span> back to home page</a>
        </p>
    </div>
</BaseLayout>
