---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
---

<BaseLayout>
    <section class="about-me-paper rotate-left">
        <p>Hi! I'm Sofya.</p>
        <p>
            I do Motion Design and Animation. Aside from that, I write and get
            carried away by new hobbies all the time.
        </p>
    </section>
    <div class="container">
        <div class="about-me-paper half rotate-right">
            <div class="washi-tape left"></div>
            <h3 class="middle">Things I love</h3>
            <ul>
                <li>Coffee</li>
                <li>My friends & family</li>
                <li>The Moomins</li>
                <li>Writing</li>
                <li>Linguistics (esp. Cognitive Linguistics)</li>
                <li>Italian Language</li>
                <li>Motion Design & Animation</li>
                <li>Sewing, knitting, crocheting</li>
                <li>Reading</li>
                <li>Watching films</li>
                <li>Gardening</li>
                <li>Måneskin</li>
                <li>Listening to Arctic Monkeys while animating</li>
                <li>The Legend of Zelda</li>
                <li>Traveling</li>
            </ul>
        </div>
        <div class="about-me-paper half rotate-left">
            <div class="washi-tape right"></div>
            <h3 class="middle">Languages in my collection</h3>
            <div class="things-i-like">
                <div>
                    <p class="flags">🇬🇧</p>
                    <span>English</span>
                    <span
                        >Pretty much no one asked me whether or not I wanted to
                        speak it (but I am not complaining)</span
                    >
                </div>
                <div>
                    <p class="flags">🇷🇺</p>
                    <span>Russian</span>
                    <span
                        >Another language I use everyday, and actually is the
                        one I am very fond of</span
                    >
                </div>
                <div>
                    <p class="flags">🇮🇹</p>
                    <span>Italian</span>
                    <span
                        >My love & passion.<br />I also used to study Italian
                        linguistics</span
                    >
                </div>
                <div>
                    <p class="flags">🇬🇷</p>
                    <span>Greek</span>
                    <span
                        >Well, it kinda sucked into my brain over the years</span
                    >
                </div>
                <div>
                    <p class="flags">🇩🇪</p>
                    <span>German</span>
                    <span
                        >I'd be lying if I said I speak German. But I mean, I
                        can speak it when very needed</span
                    >
                </div>
                <div>
                    <p class="flags">🇳🇴</p>
                    <span>Norwegian</span>
                    <span
                        >I always wanted to learned it, and here I am, learning
                        Norwegian</span
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="about-me-paper rotate-right scrollable">
            <h3 class="middle">Favourite Books</h3>
            <div class="things-i-like-books">
                <div>
                    <img
                        src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1378710146i/17333223.jpg"
                        alt="The Goldfinch. Donna Tartt. 2013"
                    />
                    <span>The Goldfinch<br />Donna Tartt</span>
                </div>
                <div>
                    <img
                        src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1430768634i/70897.jpg"
                        alt="The Secret History. Donna Tartt. 1992"
                    />
                    <span>The Secret History<br />Donna Tartt</span>
                </div>
                <div>
                    <img
                        src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1697930154i/167918842.jpg"
                        alt="Confessions. Jaume Cabre. 2011"
                    />
                    <span>Confessions<br />Jaume Cabré</span>
                </div>
                <div>
                    <img
                        src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1543850033i/43087540.jpg"
                        alt="Divina Comedia. Dante Alighieri. 1320"
                    />
                    <span>Divina Comedia<br />Dante Alighieri</span>
                </div>
                <div>
                    <img
                        src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1527721444i/40244662.jpg"
                        alt="Moominland Midwinter. Tove Jansson. 1957"
                    />
                    <span>Moominland Midwinter<br />Tove Jansson</span>
                </div>
                <div>
                    <img
                        src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1301286225i/837962.jpg"
                        alt="Foucault’s Pendulum. Umberto Eco. 1999"
                    />
                    <span>Foucault's Pendulum<br />Umberto Eco</span>
                </div>
                <div>
                    <img
                        src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1367702003i/6923105.jpg"
                        alt="Poetry. Joseph Brodsky"
                    />
                    <span>Poetry<br />Joseph Brodsky</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="about-me-paper half rotate-right scrollable">
            <h3 class="middle">Favourite Films</h3>
            <div class="things-i-like">
                <div>
                    <img
                        src="https://a.ltrbxd.com/resized/film-poster/4/2/7/7/9/42779-coraline-0-1000-0-1500-crop.jpg?v=b792483e2a"
                        alt="Coraline. 2009"
                    />
                    <span>Coraline<br />2009</span>
                </div>
                <div>
                    <img
                        src="https://a.ltrbxd.com/resized/sm/upload/n8/rl/pc/se/jEiEU8viSb8CIIHcfprVr2V6XDz-0-1000-0-1500-crop.jpg?v=25e13045f0"
                        alt="Ratatouille. 2007"
                    />
                    <span>Ratatouille<br />2007</span>
                </div>
                <div>
                    <img
                        src="https://a.ltrbxd.com/resized/sm/upload/7y/dg/6m/fs/je9lvVfSihc4L4yMNmw0rg6oks0-0-1000-0-1500-crop.jpg?v=670240b18f"
                        alt="Wild Strawberries. 1957"
                    />
                    <span>Wild Strawberries<br />1957</span>
                </div>
                <div>
                    <img
                        src="https://a.ltrbxd.com/resized/sm/upload/kv/7n/p8/tv/fMC8JBWx2VjsJ53JopAcFjqmlYv-0-1000-0-1500-crop.jpg?v=3d69c00608"
                        alt="Mulholland dr. 2001"
                    />
                    <span>Mulholland dr.<br />2001</span>
                </div>
                <div>
                    <img
                        src="https://image.tmdb.org/t/p/original/lOehCiqghODNrNBpI1JS76zl6Lx.jpg"
                        alt="Women on the Verge of a Nervous Breakdown. 1988"
                    />
                    <span
                        >Women on the Verge of a Nervous Breakdown<br
                        />1988</span
                    >
                </div>
            </div>
        </div>
        <div class="about-me-paper half rotate-right scrollable">
            <h3 class="middle">Favourite shows</h3>
            <div class="things-i-like">
                <div>
                    <img
                        src="https://resizing.flixster.com/MujtmgcXm-5GFoFEKlH4SY2Q0Ms=/206x305/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p183906_b_v8_ab.jpg"
                        alt="Twin Peaks. 1990"
                    />
                    <span>Twin Peaks<br />1990</span>
                </div>
                <div>
                    <img
                        src="https://resizing.flixster.com/tGLOI_WBzFXl-usR61J0PXuSnAg=/206x305/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p7893510_b_v13_ab.jpg"
                        alt="The Office. 2005"
                    />
                    <span>The Office<br />2005</span>
                </div>
                <div>
                    <img
                        src="https://resizing.flixster.com/d-Cz-y2V6wdnh4O4VqFhR9RB7I0=/206x305/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p9248224_b_v8_ax.jpg"
                        alt="Gravity Falls. 2012"
                    />
                    <span>Gravity Falls<br />2012</span>
                </div>
                <div>
                    <img
                        src="https://resizing.flixster.com/ihwIW6VFpRWu4ks3lECknBr7x0U=/206x305/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p11139718_b_v8_ab.jpg"
                        alt="Over the garden wall. 2014"
                    />
                    <span>Over the Garden Wall<br />2014</span>
                </div>
                <div>
                    <img
                        src="https://resizing.flixster.com/spMPZE49D-VWZuUXpJ_hF15MRb0=/206x305/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p13139614_b_v13_ad.jpg"
                        alt="Fleabag. 2016"
                    />
                    <span>Fleabag<br />2016</span>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
