---
import StatusWidget from "../components/StatusWidget.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout>
    <div class="middle">
        <h1>I do stuff, sometimes</h1>
        <p>I'm a Graphic & Motion Designer and a 2D Animator.</p>
        <p>
            I also write and experiment with all other media every so often.<br
            />
            Here are my collections, resurrections, and misused words.
        </p>
        <p>
            <a href="mailto:hello@evdokimovas.com">Contact Me</a> to work together
            or stick around to see my newer projects.
        </p>
        <div class="image-homepage">
            <div class="image-widget">
                <StatusWidget />
                <img src="/assets/700x700.gif" alt="Status" class="image" />
            </div>
        </div>
    </div>
    <script>
        import "../scripts/widget.js";
    </script>
</BaseLayout>
