---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Writing";
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
---

<BaseLayout pageTitle={pageTitle}>
    <h2>See this one as well</h2>
    <p>and in here, some text in here as well</p>
    <p>something in here and in here as well</p>
    <h3>something something to check it all out</h3>

    {
        allPosts.map((post: any) => (
            <ul>
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                </li>
            </ul>
        ))
    }
</BaseLayout>
