---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "evdokimova's";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>See this one as well</h2>
    <p>and in here, some text in here as well</p>
    <p>something in here and in here as well</p>
    <h3>something something to check it all out</h3>
</BaseLayout>
