<aside class="left-sidebar">
    <nav>
        <div class="sidebar-title">Menu</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/page1">Portfolio</a></li>
            <li><a href="/page2">Writing</a></li>
            <li><a href="/page3">Media log</a></li>
        </ul>
    </nav>

    <div class="sidebar-title">
        <a href="mailto:hello@evdokimovas.com">
            <button type="button" class="button">Contact Me</button>
        </a>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-title">Section Title</div>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
                Necessit atibus perferendis inventore tempore vel optio
                similique blanditiis quasi quam?
            </p>
        </blockquote>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-title">Section Title</div>
        <ul>
            <li>List</li>
            <li>List</li>
            <li><a href="/">List</a></li>
            <li>List</li>
        </ul>
    </div>
</aside>
