<aside class="left-sidebar">
    <nav>
        <div class="sidebar-title">Menu</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/page1">Portfolio</a></li>
            <li><a href="/page2">Writing</a></li>
            <li><a href="/page3">Media log</a></li>
        </ul>
    </nav>

    <div class="sidebar-title">
        <a href="mailto:hello@evdokimovas.com">
            <button type="button" class="button">Contact Me</button>
        </a>
    </div>
</aside>
